<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xuqiu.spring.Mapper.JstdMapper">

<!--    <insert id="insert" parameterType="Jstd" >-->
<!--        INSERT into jstdlist (`fuzeren`,`jxtd`,`jspy`) values (#{fuzeren},#{jxtd},#{jspy})-->
<!--    </insert>-->

<!--    <delete id="delete" parameterType="Jstd">-->
<!--        delete from jstdlist where id=#{id}-->
<!--    </delete>-->

    <update id="edit" parameterType="Jstd" >
        update jstdlist set fuzeren=#{fuzeren},jxtd=#{jxtd},jspy=#{jspy}
    </update>

    <select id="query" resultType="Jstd" >
        select * from jstdlist
    </select>

</mapper>