<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xuqiu.spring.Mapper.PlanMapper">

    <insert id="insert" parameterType="Plan" >
        INSERT into planlist (className,ClassNo,course,teacher,teacherNo) values (#{className},#{classNo},#{course},#{teacher},#{teacherNo})
    </insert>

    <delete id="delete" parameterType="Plan">
        delete from planlist where id=#{id}
    </delete>

<!--    <update id="edit" parameterType="Message" >-->
<!--        update adminlist set password = #{password},`name`=#{name},usertype=#{usertype},email=#{email},phone=#{phone} where username = #{username}-->
<!--    </update>-->

    <select id="query" resultType="Plan" >
        select * from planlist
    </select>
<!--    <select id="queryTheUser" resultType="xuqiu.spring.Pojo.Message">-->
<!--        select * from adminlist where username=#{username}-->
<!--    </select>-->

</mapper>