<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xuqiu.spring.Mapper.TeacherMapper">

    <insert id="insert" parameterType="Teacher" >
        INSERT into teacherlist(username,name,sex,birthday,type,profess,degree,usertype,email,phone,password,comeFrom) values (#{username},#{name},#{sex},#{birthday},#{type},#{profess},#{degree},#{usertype},#{email},#{phone},#{password},#{comeFrom})
    </insert>

    <delete id="delete" parameterType="Teacher">
        delete from teacherlist where username=#{username}
    </delete>

    <update id="edit" parameterType="Teacher" >
        update teacherlist set password = #{password} where username = #{username}
    </update>

    <select id="query" resultType="Teacher" >
        select * from teacherlist
    </select>

</mapper>